/*html, body,*/
/*#root,*/
/*.nopadding, .panel-collapse, .container,.row,*/
/*.panel-contacts, .panel-messages {*/
	/*height: 100%;*/
/*}*/
/*#messages,#contacts {*/
	/*height: calc(100% - 95px);*/
/*}*/
::-webkit-scrollbar {
	width: 5px !important;
}
.chat{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li{

}
.chat li.contact-item {
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
}
.chat li.contact-item:hover{
background: rgba(0,0,0,.03);
}
.chat li.contact-item.active{
  background: #d9eeff;
}
.chat li .chat-body p{
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon{
  margin-right: 5px;
}

.panel-body{
  overflow-y: scroll;
  height: 250px;
}
.panel-body.panel-contacts{
padding: 0;
}

::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,.15);
}


/************/

.nopadding{
  padding: 0;
}
.panel,.panel-heading{
  border-radius: 0;
  border: 0;
}
.panel-contacts{
  background: rgba(0,0,0,.01);
}

.panel-body{
  padding: 0;
}

/************/

.panel-contacts .chat-img img{
  width: 30px;
  height: 30px;
}
.panel-contacts .chat-body .header{
	padding: 4px 0 4px 7px
}
.panel-contacts .chat .primary-font{
  font-weight: normal;
  font-size: 14px;
  font-family: Arial;
  color: #2C86CF;
}

.panel-contacts .chat li.left .chat-img{
  margin: 10px 0 0 10px;
}
.panel-contacts .chat li.left .chat-body{
  margin-left: 40px;
  padding: 10px 10px 10px 0;
}
.panel-contacts .chat li.left.active .chat-body{
  margin-left: 0px;
  padding: 10px 10px 10px 40px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.05),inset 0 1px 0 rgba(0,0,0,.05);
}
.panel-contacts .chat li.contact-item.active .primary-font{
  color: #333;
}

.panel-contacts .counter-unread{
	position: relative;
	background: rgb(242, 117, 16);
	color: white;
	float: right;
	top: 2px;
}

/************/


.panel{
	margin-bottom: 0;
}
.panel-messages .chat li{
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}

.panel-messages .chat > .unread:first-child, .panel-messages .chat > li:not(.unread) + .unread {
	padding-top: 13px !important;
	box-shadow: inset 0 3px 0 #f27510 !important;
}
.panel-messages .chat > .outgoing:first-child, .panel-messages .chat > li:not(.outgoing) + .outgoing {
	padding-top: 13px !important;
	box-shadow: inset 0 3px 0 #a5d0e6 !important;
}

.panel-messages .chat-img img{
  width: 30px;
  height: 30px;
}
.rounded-circle{
	border-radius: 50%;
	box-shadow: 0 0 2px 2px rgba(180,180,180,.25);
}

.panel-messages .chat .header{
	margin: 5px 0 5px 36px;
	height: 30px;
}

.panel-messages .text{
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
  padding-left: 36px;
}

.panel-messages .chat .primary-font{
  font-weight: normal;
  font-size: 14px;
  font-family: Arial;
  color: #2C86CF;
}
.panel-messages .chat .header .text-muted{
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
}

.panel-title {
  padding-left: 10px;
}

/* Sessions */
ul.sessions {
  list-style-type: none;
}

.user-info {
	display: inline-block;
	float: right;
}
.user-info a {
	color: #fff;
	cursor: pointer;
}
a.link{
	cursor: pointer;
}
.messages-notify{
	padding: 20px;
}